<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我在简书</title>
    <script type="text/javascript" src="../static/js/echarts.js"></script>
    <link rel="stylesheet" href="../static/css/jquery.fullPage.css">
    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="../static/js/echarts-wordcloud.min.js"></script>
    <script>
    $(function(){
        $('#dowebok').fullpage({
            sectionsColor:'#666666'
        });
    });

    </script>
    </head>
<body>

<div id="dowebok">

    <div class="section" id="base_info">
        <h1>page 1</h1>
    </div>

    <div class="section" id="firt_tag_time">
        <h1>page 2</h1>
    </div>

    <div class="section" id="second_tag_time">
        <h1>page 3</h1>
    </div>
</div>


</body>
</html>